<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" href="/assets/css/amazeui.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="page">
    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <h1 class="am-header-title">
            登录
        </h1>
    </header>
    <div class="am-with-fixed-header" style="margin-top: 30px;">
        <div class="am-input-group">
            <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
            <input type="text" class="am-form-field"  id="userName">
        </div>

        <div class="am-input-group">
            <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
            <input type="password" class="am-form-field"  id="password">
        </div>
        <p>
            <button class="am-btn  am-btn-block" id="btn_login">登录</button>
        </p>
    </div>

</div>


<script src="/assets/js/amazeui.js"></script>
<script src="/javascripts/jquery/jquery-1.7.1.min.js"></script>
<script src="/javascripts/login.js"></script>
</body>
</html>
